<div class="w-full h-screen flex items-center justify-center bg-bodyColor text-lightText">
  <div class="w-full max-w-md p-6 bg-boxBg rounded-lg shadow-shadowOne">
    <h1 class="text-2xl flex justify-center tracking-wider font-semibold font-titleFont m-4 text-designColor">Password Generator</h1>
    <div class="mb-4">
      <label class="block mb-4 mt-6 font-semibold text-gray-200 tracking-wide">Enter length:</label>
      <input type="number" class="input" (input)="changeLength($any($event).target.value)" />
    </div>
    <div class="mb-4 flex items-center">
      <input type="checkbox" class="input-checkbox mr-2" (change)="toggleUpper()" />
      <label>Include Uppercase Letters (A - Z)</label>
    </div>
    <div class="mb-4 flex items-center">
      <input type="checkbox" class="input-checkbox mr-2" (change)="toggleLower()" />
      <label>Include Lowercase Letters (a - z)</label>
    </div>
    <div class="mb-4 flex items-center">
      <input type="checkbox" class="input-checkbox mr-2" (change)="toggleDigits()" />
      <label>Include digits (0 - 9)</label>
    </div>
    <div class="mb-4 flex items-center">
      <input type="checkbox" class="input-checkbox mr-2" (change)="toggleSymbols()" />
      <label>Include symbols</label>
    </div>
    <button class="w-full font-semibold h-14 bg-black bg-opacity-25 text-gray-200 text-md inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300" [disabled]="!(length>0&&(includeDigits||includeLowercase||includeSymbols||includeUppercase))" (click)="generatePassword()">
      G E N E R A T E
    </button>
    <div class="relative mt-6">
      <input disabled class="pl-4 w-full font-semibold h-14 bg-black bg-opacity-25 text-gray-200 text-md inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor duration-300 pr-10" [value]="password" readonly />
      <svg class="absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer text-gray-200 hover:text-designColor transition-colors duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" (click)="copyPassword()">
        <path fill="currentColor" d="M19 9h-1V4H8V3h10a1 1 0 0 1 1 1v5zM4 6v14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V10h-4a1 1 0 0 1-1-1V5H5a1 1 0 0 0-1 1zm1 12v2h10v-2H5zm0-4v2h10v-2H5zm0-4v2h10v-2H5z"/>
      </svg>
    </div>
    <div *ngIf="passwordCopied" class="mt-4 text-center text-green-500 animate-pulse">
      Password copied to clipboard.
    </div>
  </div>
</div>
